<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myall.myBlog.mapper.LinkMapper">
    <sql id="Base_Column_List" >
    link_id, link_url, link_name, link_image, link_description, link_owner_nickname,
    link_owner_contact, link_update_time, link_create_time, link_order, link_status
  </sql>


    <sql id="tb">link</sql>
    <update id="update">
        update
        <include refid="tb"/>
        <set>
            <if test="linkUrl != null" > link_url = #{linkUrl,jdbcType=VARCHAR},</if>
            <if test="linkName != null" >link_name = #{linkName,jdbcType=VARCHAR},</if>
            <if test="linkImage != null" >link_image = #{linkImage,jdbcType=VARCHAR},</if>
            <if test="linkDescription != null" >link_description = #{linkDescription,jdbcType=VARCHAR},</if>
            <if test="linkOwnerNickname != null" >link_owner_nickname = #{linkOwnerNickname,jdbcType=VARCHAR},</if>
            <if test="linkOwnerContact != null" >link_owner_contact = #{linkOwnerContact,jdbcType=VARCHAR},</if>
            <if test="linkUpdateTime != null" >link_update_time = #{linkUpdateTime,jdbcType=TIMESTAMP},</if>
            <if test="linkCreateTime != null" >link_create_time = #{linkCreateTime,jdbcType=TIMESTAMP},</if>
            <if test="linkOrder != null" >link_order = #{linkOrder,jdbcType=INTEGER}, </if>
            <if test="linkStatus != null" >link_status = #{linkStatus,jdbcType=INTEGER},</if>
        </set>
        where link_id=#{linkId}
    </update>
    <delete id="deleteById">
        delete from
        <include refid="tb"/>
        where link_id=#{id}
    </delete>
    <!--获取链接列表-->
    <select id="getLinkList" resultType="com.myall.myBlog.pojo.Link">
        SELECT *
        FROM  <include refid="tb"/>
        <where>
            <if test="status!=null">
                link_status=#{status}
            </if>
        </where>
        ORDER BY link_status ASC,link_order DESC,link_id ASC
    </select>
    <select id="getLinkById" resultType="com.myall.myBlog.pojo.Link">
        SELECT *
        FROM  <include refid="tb"/>
        where link_id=#{id}
    </select>
    <select id="countLink" resultType="java.lang.Integer">
        select count(*)
        from <include refid="tb"/>
        <where>
            <if test="status!=null">
                link_status=#{status}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.myall.myBlog.pojo.Link" useGeneratedKeys="true" keyProperty="linkId">
        insert into link (<include refid="Base_Column_List"/>)
        values (#{linkId,jdbcType=INTEGER}, #{linkUrl,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR},
          #{linkImage,jdbcType=VARCHAR}, #{linkDescription,jdbcType=VARCHAR}, #{linkOwnerNickname,jdbcType=VARCHAR},
          #{linkOwnerContact,jdbcType=VARCHAR}, #{linkUpdateTime,jdbcType=TIMESTAMP}, #{linkCreateTime,jdbcType=TIMESTAMP},
          #{linkOrder,jdbcType=INTEGER}, #{linkStatus,jdbcType=INTEGER})
    </insert>
</mapper>